

.maindiv {
    display: flex;
    position: relative;
    border-radius: 30px;
    width: 34vw;
    height: 40vh;
    top: 6vh;
}


.main_left{
    width: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 2.5vh;
    right: 1vw;
    
}

.main_right{
    width: 60%;
    position: relative;
    font-size: 1.4vw;
    top: 2vh;
    right: 0.5vw;
}

.pet_name{
    position: relative;
    font-size: 2vw;
    margin-bottom: 1.5vh;
}

.Pet {
    width: 9vw;
}

.level {
    position: absolute;
    color: white;
    left: 5.5vw;
    margin-top: 1vh;
}

.jandi_div{
    position: relative;
    /* left: 7vw; */
    /* top: 3vh; */
}

.pet_div{
    background-color: var(--color-main);
    border: 5px double var(--color-base-border);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}