@font-face {
  font-family:'Nana';
  src: url('./assets/font/Nana.ttf');
  
}

@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");



:root {
  --color-main: #8c0032;
  /* --color-main: #343A7D; */
  --color-base-light: #fff0f0;
  --color-base: #ffe9e9;
  --color-base-dark: #f9c4d2;
  --color-base-border: #b18597;
  --color-base-shadow: #ffe3e2;
}


body {
  margin: 0;
  font-family: 'Nana';
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 201, 210); */
  background-color: var(--color-main);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
